.video-list-content{
	margin-top:10px;
}

.video-list {
	overflow:hidden;
	width:100%;
	list-style: none;
	padding-left:30px;
	height:800px;
	zoom:1;
}

.video-list li {
	width:16.666%;
	float:left;
	padding-right:10px;
	padding-bottom:5px;
	margin-top:15px;
}

.video-list li:nth-child(12n-6) {
	margin-top:0px;
}

.video-list li a:HOVER {
	display: block;
}

.mes {
    padding: 5px 5px 3px;
    line-height: 20px;
    font-size: 12px;
    height: 48px;
    overflow: hidden;
    background: #fff;
    line-height: 20px;
    overflow: hidden;
}

.mes-tit {
    position: relative;
    margin-top:-18px;
    margin-buttom:0px;
}

.mes-tit h3 {
    width: 70%;
    font-size: 13px;
    color: #313131;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
}

.tag {
    display: block;
    width: 60px;
    font-size: 12px;
    text-align: right;
    color: #f60;
    position: absolute;
    right: 0;
    top: 0;
}

.follow-list-all {
    display: block;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    font-size: 0;
    cursor: pointer;
}

.follow-list-all p {
    background-position: -2px 4px;
    margin-buttom:0px;
    margin-top:-5px;
    height:20px;
}

.follow-list-all p span.dy-name {
    background-position: -2px 4px;
    max-width: 180px;
}

.follow-list-all p span {
    display: block;
    padding-left: 18px;
    font-size: 12px;
    background: url(../images/mem-icos.png) no-repeat;
    color: #797979;
}

.follow-list-all p span.dy-num {
    background-position: 0 -30px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.imgbox {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.imgbox b {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/playIcon.png) no-repeat;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    opacity: 0;
    transition: all .3s ease;
}